@import '../../variables.css';

.root {
	display: flex;
	width: 100%;
	align-items: center;
	color: var(--white);
	margin: 24px;
}

.root:hover .actions {
	visibility: visible;
}

.avatar {
	border: 3px solid transparent;
	border-radius: 50%;
	height: 100px;
	width: auto;
	object-fit: cover;
	margin-right: 24px;
}

.large .avatar {
	height: 200px;
}

.root:hover .avatar {
	border-color: var(--yellow);
}

.info {
	display: flex;
	flex-direction: column;
}

.name {
	font-family: 'jsdanger', serif;
	font-size: calc(1em + 0.25vw);
	margin-bottom: 0.25em;
}

.large .name {
	font-size: calc(1em + 0.75vw);
}

.score {
	font-family: "Pragati Narrow:", sans-serif;
	font-weight: bold;
	font-size: 2em;
}


.negative {
	color: var(--red);
}

.positive {
}

.actions {
	display: flex;
	flex-direction: column;
	visibility: hidden;
}

.actionButton {
	outline: none;
	cursor: pointer;
	background: none;
	border: 0;
	color: white;
	font-size: calc(2em + 0.25vw);
}
