@import '../../variables.css';

.root {
	position: relative;
	align-self: stretch;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category {
	color: var(--white);
	font-family: jsdanger, serif;
	font-size: calc(1em + 1vw);
}
