.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.gameWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.grid {
	display: flex;
}

.contestants {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
