@import './variables.css';

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.gameWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.grid {
	display: flex;
}

.contestants {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.clue {
	cursor: pointer;
	font-size: 3em;
}

.currentQuestion {
	display: flex;
	flex-direction: column;
	background-color: var(--blue);
	color: var(--white);
	align-self: stretch;
	text-align: center;
	flex-grow: 2;
	flex-basis: 600px;
}

.showAnswer {
	padding-top: 1em;
	flex-grow: 0;
	font-size: 2em;
	text-align: center;
	text-align: center;
	text-decoration: underline;
}

.answer {
	padding-top: 1em;
	flex-grow: 0;
	font-size: 2em;
	text-align: center;
}
