@import './variables.css';

@font-face {
	font-family: 'jsdanger';
	src: url('/assets/webfont.woff2') format('woff2'),
			 url('/assets/webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5vw;
	position: relative;
}

.root:before {
	background: url(/assets/jsparty-abstract-art.svg) no-repeat;
	content: "";
	width: 80vw;
	height: 80vw;
	opacity: 0.4;
	position: absolute;
	right: -40vw;
	top: -40vw;
}

.header {
	align-items: flex-end;
	justify-content: space-between;
	display: flex;
	color: var(--white);
	width: 100%;
	margin-bottom: 2.5vw;
}

.header h1 {
	background: url('/assets/logo_3x.png') center no-repeat;
	background-size: 100%;
	flex: 0 0 526px;
	width: 526px;
	height: 100px;
	margin: 0 20px 0 0;
	text-indent: -9999px;
}

.header button {
	font-family: 'jsdanger', serif;
	background: none;
	border: none;
	color: var(--yellow);
	font-size: calc(1em + 1vw);
}

.gameWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	position: relative;
}

.contestants {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.clue {
	cursor: pointer;
	font-family: 'jsdanger', serif;
	font-size: 3em;
	padding: 1vw;
}

.currentQuestion {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--blue);
	color: var(--white);
	align-self: stretch;
	text-align: center;
	flex-grow: 2;
	flex-basis: 600px;
	padding: 2.5vw;
	text-shadow: 0 0 10px black;
}

.showAnswer,
.answer {
	flex-grow: 0;
	font-family: 'jsdanger', serif;
	font-size: calc(0.75em + 1vw);
	padding-top: 1em;
	text-align: center;
	text-shadow: 0 0 10px black;
}

.showAnswer {
	text-decoration: underline;
}

.answer {
	color: var(--yellow);
}
